<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="../lib/mzui/css/mzui.min.css">
</head>

<body>
	<div id="app">
		<div class="page fade scale-from-center display in" style="overflow: hidden">
			<div class="dock blur-lg" style="background: url('../lib/mzui/img/loginBg.jpg') no-repeat center; background-size: cover; top: -2rem; right: -2rem; bottom: -2rem; left: -2rem"></div>
			<div class="dock flex flex-center">
				<div class="modal rounded" style="width: 18rem; height: 10rem; margin: auto;">
					<div class="heading divider primary-pale">
						<div class="title">登录 <span class="reason"> 您没有权限访问该内容或需要登录</span></div>
					</div>
					<form action="/login" method="post">
						<div class="content box">
							<div class="control has-label-left"><!-- has-error -->
								<input type="text" name="username" class="input" v-model="userId" placeholder="用户名">
								<label for="account"><i class="icon-user"></i></label>
								<div class="help-text" v-if="errorInfo.length > 0">{{errorInfo}}</div>
							</div>
							<div class="control has-label-left">
								<input type="password" name="password" v-model="password" class="input" placeholder="密码">
								<input type="hidden" name="validateCode" value="1234">
								<label for="account"><i class="icon-key"></i></label>
							</div>
							<div class="control">
								<button type="submit" v-on:click="loginSubmit1" class="btn block primary">登录</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../lib/jquery/jquery-3.1.0.min.js"></script>
<script src="../lib/mzui/js/mzui.min.js"></script>
<script src="../lib/vue/vue.js"></script>
<script src="../lib/mg/js/common.js"></script>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			userId: "",
			password: "",
			errorInfo: ""
		},
		methods: {
			loginSubmit: function() {
				var param = {
					username: app.userId,
					password: app.password,
					validateCode: "1234"
				};
				post("/login", param, function(result) {
					if(result.errCode == 200) {
						//location.href = "/manage/web/home";
						alert("登录失败1，" + result.errMsg);
					} else {
						alert("登录失败，" + result.errMsg);
					}
				});
			}
		}
	});
</script>

<style>
	.reason{color: #f00;font-size: 12px;}
</style>
</html>



